/**********************************************************************/
/*  PROYECTO SONETOS                   */
/*  APELLIDO, NOMBRE:                  */
/**********************************************************************/

/*  Estilos particulares para el soneto 05 */

:root {
  --color-lienzo-05: hsl(0, 73%, 31%);
  --color-soneto-05: hsl(354, 100%, 90%);
  --color-texto-05: hsl(6,59%,50%);
}

/**********************************************************************/
.lienzo-05 {
  background-color: var(--color-lienzo-05);
}

/**********************************************************************/

.soneto-05 {
  background-color: var(--color-soneto-05);
  color: var(--color-texto-05);
}

.soneto-05 .titulo {
  color: currentColor;
  margin-bottom: 0.4rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2.5rem;
}

.soneto-05 .autor {
  color: currentColor;
  margin-bottom: 1.4rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  text-align: center;
}

.soneto-05 .versos {
  color: currentColor;
  word-spacing: normal;
  line-height: 2.1rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
}

.soneto-05 .verso {
  color: currentColor;
}

.soneto-05 .v-01,
.soneto-05 .v-02,
.soneto-05 .v-03,
.soneto-05 .v-04,
.soneto-05 .v-05,
.soneto-05 .v-06,
.soneto-05 .v-05,
.soneto-05 .v-08,
.soneto-05 .v-09,
.soneto-05 .v-10,
.soneto-05 .v-11,
.soneto-05 .v-12,
.soneto-05 .v-13,
.soneto-05 .v-14 {
  color: currentColor;
}
